{{#product}}
<div class="row-fluid">
	<div class="span8">
		<h1>Testpanel Bewerken</h1>
	</div>
	<div class="span4">
		<div class="pull-right">
            <a class="btn" href="/admin/export-product/{{id}}">Exporteer inschrijvingen</a>&nbsp;
			<a class="btn right" style="margin-left: 10px;" href="/admin/review-products">Terug</a>
		</div>
	</div>
</div>
<div class="row-fluid">
	{{> messages}}
</div>
<form action="" method="post" enctype="multipart/form-data">
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Standaard</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control-group span4">
						<label class="control-label" for="title">Titel</label>
						<div class="controls">
							<input name="title" class="span12 focused" id="title" type="text" value="{{title}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="slug">Url Slug</label>
						<div class="controls">
							<input name="slug" class="span12 focused" id="slug" type="text" value="{{slug}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="category_id">Categorie</label>
						<div class="controls">
							<select class="span12" id="category_id" name="category_id">
								{{#categories}}
								<option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{title}}</option>
								{{/categories}}
							</select>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="description">Omschrijving</label>
						<div class="controls">
							<textarea name="description" class="input-block-level tinymce" id="description" rows="8">{{description}}</textarea>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="media_short">Korte Tekst bij de media</label>
						<div class="controls">
							<textarea name="media_short" class="input-block-level" id="media_short" rows="2">{{media_short}}</textarea>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="conclusion">Algemene Conclusie <small>(De Algemene Conclusie van Alle Reviews)</small></label>
						<div class="controls">
							<textarea name="conclusion" class="input-block-level" id="conclusion" rows="8">{{conclusion}}</textarea>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="control-group span4">
						<label class="control-label" for="question_extra1">Extra Vraag 1 <small>Laat leeg om niet te gebruiken</small></label>
						<div class="controls">
							<input name="question_extra1" class="span12" id="question_extra1" type="text" value="{{question_extra1}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="question_extra2">Extra Vraag 2 <small>Laat leeg om niet te gebruiken</small></label>
						<div class="controls">
							<input name="question_extra2" class="span12" id="question_extra2" type="text" value="{{question_extra2}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="question_extra3">Extra Vraag 3 <small>Laat leeg om niet te gebruiken</small></label>
						<div class="controls">
							<input name="question_extra3" class="span12" id="question_extra3" type="text" value="{{question_extra3}}">
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="control-group span4">
						<label class="control-label" for="application_start_date">Inschrijvingen Start Datum</label>
						<div class="controls">
							<input name="application_start_date" class="datepicker span12" id="application_start_date" type="text" value="{{application_start_date}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="application_end_date">Inschrijvingen Eind Datum</label>
						<div class="controls">
							<input name="application_end_date" class="datepicker span12" id="application_end_date" type="text" value="{{application_end_date}}">
						</div>
					</div>
					<div class="control-group span4">
						<label class="control-label" for="status">Status</label>
						<div class="controls">
							<select class="span12" id="status" name="status">
								{{#statuses}}
								<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
								{{/statuses}}
							</select>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="image">Voorbeeld Foto <small>Probeer de grote en verhoudingen van 200x200 aan te houden</small></label>
						<div class="controls">
							<div class="uploader">
								<input name="image" id="image" type="file">
							</div>
						</div>
					</div>
					<div>
						<img class="img-polaroid" width="150" src="{{mp_base_url}}/{{image_url}}" alt="Voorbeeld Foto">
						<br/>
						<br/>
					</div>
				</div>
                <div class="row-fluid">
                    <div class="span12">
                        <input name="phone_access_field" value="0" type="hidden">
                        <input name="phone_access_field" class="tos" value="1" {{#selected_access_phone}}checked="checked"{{/selected_access_phone}} id="phone_access_field" type="checkbox"> Ja, Testpanel mag mij telefonisch benaderen.
                    </div>
                </div>
				<div class="row-fluid">
					<div class="span12">
						<input class="btn btn-primary" type="submit" value="Opslaan">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="product_sections" class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Review Secties</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control group span12">
						<table class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Sectie vraag aan moeder</th>
								<th style="width: 100px;">Verwijderen</th>
							</tr>
							</thead>
							<tbody data-bind="foreach: sections">
							<tr>
								<td>
									<input data-bind="value: id, attr:{name:'sections['+$index()+'][id]'}" type="hidden">
									<input data-bind="value: question, attr:{name:'sections['+$index()+'][question]'}" class="span12" type="text">
								</td>
								<td><a data-bind="click: $root.removeSection" href="#">Verwijderen</a></td>
							</tr>
							</tbody>
						</table>
						<input class="btn btn-primary" type="submit" value="Opslaan">
						<input data-bind="click: addSection" class="btn pull-right" type="button" value="Nieuwe Sectie Toevoegen">
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="product_ratings" class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Review Scores</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control group span12">
						<table class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Score Titel</th>
								<th style="width: 100px;">Verwijderen</th>
							</tr>
							</thead>
							<tbody data-bind="foreach: ratings">
							<tr>
								<td>
									<input data-bind="value: id, attr:{name:'ratings['+$index()+'][id]'}" type="hidden">
									<input data-bind="value: rating_title, attr:{name:'ratings['+$index()+'][rating_title]'}" class="span12" type="text">
								</td>
								<td><a data-bind="click: $root.removeRating" href="#">Verwijderen</a></td>
							</tr>
							</tbody>
						</table>
						<input class="btn btn-primary" type="submit" value="Opslaan">
						<input data-bind="click: addRating" class="btn pull-right" type="button" value="Nieuwe Score Toevoegen">
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="product_remarks" class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Product Opmerkingen</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control group span12">
						<table class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Opmerking</th>
								<th style="width: 200px;">Type</th>
								<th style="width: 100px;">Verwijderen</th>
							</tr>
							</thead>
							<tbody data-bind="foreach: remarks">
							<tr>
								<td>
									<input data-bind="value: id, attr:{name:'remarks['+$index()+'][id]'}" type="hidden">
									<input data-bind="value: remark, attr:{name:'remarks['+$index()+'][remark]'}" class="span12" type="text">
								</td>
								<td>
									<select data-bind="value: type, attr:{name:'remarks['+$index()+'][type]'}">
										<option value="positive">Positief</option>
										<option value="negative">Negatief</option>
									</select>
								</td>
								<td><a data-bind="click: $root.removeRemark" href="#">Verwijderen</a></td>
							</tr>
							</tbody>
						</table>
						<input class="btn btn-primary" type="submit" value="Opslaan">
						<input data-bind="click: addRemark" class="btn pull-right" type="button" value="Nieuwe Opmerking Toevoegen">
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="media_list" class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Media</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control group span12">
						<table class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Voorbeeld</th>
								<th>Title</th>
								<th>URL</th>
								<th >Type</th>
								<th>Uploaddatum</th>
								<th>Verwijderen</th>
							</tr>
							</thead>
							<tbody>
							{{#media_list}}
							<tr>
								<td><img src="{{sample}}" style="max-width: 120px; max-height: 120px;"></td>
								<td>
									<input name="media[{{id}}][id]" type="hidden" value="{{id}}">
									<input name="media[{{id}}][title]" class="input-append focused" id="title" type="text" value="{{title}}">
								</td>
								<td><input name="media[{{id}}][path]" class="input-append focused" id="url" type="text" value="{{path}}"></td>
								<td>
									<select style="width: 100px;" id="type" name="media[{{id}}][type]">
										<option value="image" {{#is_image}}selected="selected"{{/is_image}}>Afbeelding</option>
										<option value="video" {{#is_video}}selected="selected"{{/is_video}}>Video</option>
									</select>
								</td>
								<td>{{created}}</td>
								<td><a href="/admin/media/delete/{{id}}?redirect=/admin/review-product/{{product.id}}#media_list">Verwijderen</a></td>
							</tr>
							{{/media_list}}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control group span12">
						<label class="control-label">Nieuwe media toevoegen</label>
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Title</th>
								<th>URL</th>
								<th>Upload</th>
								<th>Type</th>
							</tr>
							</thead>
							<tr>
								<td>
									<input name="media[new][id]" type="hidden">
									<input name="media[new][title]" type="text">
								</td>
								<td><input name="media[new][path]" type="text"></td>
								<td><input class="fileupload" type="file" name="media"></td>
								<td>
									<select name="media[new][type]">
										<option value="image">Afbeelding</option>
										<option value="video">Video</option>
									</select>
								</td>
							</tr>
							</tbody>
						</table>
						<input class="btn btn-primary" type="submit" value="opslaan">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Seo Instellingen</h2>
				<div class="box-icon">
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="meta_title">Meta Titel</label>
						<div class="controls">
							<input class="span12" name="meta_title" id="meta_title" type="text" value="{{meta_title}}">
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="control-group span12">
						<label class="control-label" for="meta_description">Meta Omschrijving</label>
						<div class="controls">
							<textarea name="meta_description" class="input-block-level" id="meta_description" rows="8">{{meta_description}}</textarea>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<input class="btn btn-primary" type="submit" value="Opslaan">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header" data-original-title>
			<h2><i class="icon-star edit"></i><span class="break"></span>Gekozen testmoeders</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="row-fluid">
				<div class="span12">
					<div class="control-group">
						<p>in dit overzicht vind je de gekozen testmoeder.</p>
						<table class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Naam</th>
								<th>Email</th>
								<th>Eindcijfer</th>
								<th>Acties</th>
							</tr>
							</thead>
							<tbody>
							{{#approved_reviews}}
							<tr>
								<td><a href="/admin/user/{{user.id}}">{{user.first_name}} {{user.middle_name}} {{user.last_name}}</a></td>
								<td>{{user.email}}</td>
								<td>{{review.rating_overal}}</td>
								<td>
									<a class="btn" target="_blank" href="/review/{{review.slug}}">
										<i class="halflings-icon link"></i>
									</a>
									<a class="btn" href="/admin/review/{{review.id}}">
										<i class="halflings-icon edit"></i>
									</a>
								</td>
							</tr>
							{{/approved_reviews}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form action="" method="post" enctype="multipart/form-data">
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header" data-original-title>
			<h2><i class="icon-user edit"></i><span class="break"></span>Reviews</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="row-fluid">
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
					<thead>
						<tr>
							<th>Volledige naam</th>
							<th>Email</th>
							<th>Status</th>
							<th>Acties</th>
						</tr>
					</thead>
					<tbody>
						{{#reviews}}
						<tr>
							<td><a href="/admin/user/{{user.id}}">{{user.first_name}} {{user.middle_name}} {{user.last_name}}</a></td>
							<td>{{user.email}}</td>
							<td>{{review.status}}</td>
							<td>
								<a class="btn" href="/admin/review/{{review.id}}">
									<i class="halflings-icon edit"></i>
								</a>
							</td>
						</tr>
						{{/reviews}}
					</tbody>
				</table>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input name="reject-all-waiting" class="btn btn-primary" type="submit" value="Alle wachtende reviews afkeuren">
				</div>
			</div>

		</div>
	</div>
</div>
</form>
{{/product}}
<script type="text/javascript">
	var initial_sections = {{& product_sections}};
	var initial_ratings = {{& product_ratings}};
	var initial_remarks = {{& product_remarks}};
</script>
<script src="/assets/admin/js/admin/ko.product_review_sections.js"></script>
<script src="/assets/admin/js/admin/ko.product_review_ratings.js"></script>
<script src="/assets/admin/js/admin/ko.review_remarks.js"></script>