{{>email_header}}

{{#content}}
	<div style="color: #555555;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">Beste {{first_name}},<br>
		<br>
		Je hebt een aanvraag gedaan om je wachtwoord te veranderen van je Mamaplaats account:<br />
		<br>
		Website: http://www.mamaplaats.nl<br />
		Gebruikersnaam: {{user_login}}<br />
		<br />
		Als je het wachtwoord wilt veranderen klik dan op onderstaande url:<br />
		http://www.mamaplaats.nl/user/update-password?user_id={{user_id}}&key={{key}}<br />
		<br />
		Als je deze email niet hebt aangevraagd dan kun je deze gewoon negeren. Er zal geen verdere actie worden ondernomen.
		<br /><br />
		Met vriendelijke groet,<br />
		Mamaplaats,<br />
		<a href="http://www.mamaplaats.nl">www.mamaplaats.nl</a>
	</div>
{{/content}}

{{>email_footer}}