<div id="header-advertisement"></div>
<script language="javascript">
<!--
(function(){
    postscribe('#header-advertisement', '<script src=/assets/js/mamaplaats/jq.header_adv.js><\/script>');
})();
//-->
</script>
<noscript>
<a href="http://adserver.adtech.de/adlink/3.0/1594/5712115/0/225/ADTECH;loc=300" target="_blank"><img src="http://adserver.adtech.de/adserv/3.0/1594/5712115/0/225/ADTECH;loc=300" border="0" width="728" height="90"></a>
</noscript>