{{#newsletter}}
<article class="item wb">
	<form id="newsletter_home" class="newsletter validate-form" action="#newsletter">
		<h3>Schrijf je in voor de nieuwsbrief!</h3>
		<p>NIEUWS OVER WINACTIES / BLOGS / TESTPANELS / TIPS / VIDEO'S / VOORDEEL / ETC.</p>
		<div class="alert alert-success hidden">Je bent ingeschreven voor onze nieuwsbrief. <br>Ga naar je emailbox voor de verificatie mail.</div>
		<div class="field-row">
			<input class="required-email" name="email" type="email" placeholder="Email adres">
		</div>
        <div class="field-row">
            <input data-required="true" name="subscribe_newsletter" type="checkbox">Ja, ik ontvang graag wekelijks nieuwsbrieven van Mamaplaats met actuele onderwerpen op het gebied van moeders en kinderen
        </div>
		<button class="btn alt" data-loading-text="Moment..." type="submit">schrijf je nu in</button>
	</form>
</article>
{{/newsletter}}