<article class="item">
	<figure class="photo">
		<a class="photo-wrap" href="#"><b><img alt="image description" src="/assets/images/h-img08.jpg" width="260" height="242"></b></a>
	</figure>
	<h3 class="category"><a href="#">Nieuw foto in de fotowedstrijd</a></h3>
	<h4><a href="#">Stapelverliefd</a></h4>
	<p class="info">Jasmine de groot - <time datetime="2013-10-14">14 okt 2013</time></p>
	<p>Mijn mannetje is op een leeftijd gekomen om behalve flesjes, ook vast voedsel te eten. Hij is nu een half jaar, dus hij mag steeds meer.</p>
</article>
<article class="item wb">
	<figure class="photo">
		<a class="photo-wrap" href="#">
			<b><img alt="image description" src="/assets/images/h-img09.jpg" width="260" height="220"></b>
			<span class="involved">doe mee</span>
		</a>
	</figure>
</article>