{{#is_blog}}
	{{> article_item_blog}}
{{/is_blog}}

{{#is_advise}}
	{{> article_item_advise}}
{{/is_advise}}

{{#is_photocontest}}
	{{> article_photocontest}}
{{/is_photocontest}}

{{#is_review_product}}
	{{> article_item_review_product}}
{{/is_review_product}}

{{#is_win}}
	{{> article_item_win}}
{{/is_win}}





