{{#is_active_authors}}
	{{> article_widget_active_authors}}
{{/is_active_authors}}
{{#is_advertorial}}
	{{> article_widget_advertorial}}
{{/is_advertorial}}
{{#is_latest_comments}}
	{{> article_widget_latest_comments}}
{{/is_latest_comments}}
{{#is_most_viewed_blogs}}
	{{> article_widget_most_viewed_blogs}}
{{/is_most_viewed_blogs}}
{{#is_newsletter}}
	{{> article_widget_newsletter}}
{{/is_newsletter}}
