<article class="item simple">
	<figure class="photo">
		<a class="photo-wrap" href="/win/{{win.slug}}"><b><img alt="{{win.title}}" src="{{media.path}}"></b></a>
	</figure>
	<h3 class="category"><a href="/win/{{win.slug}}">Winactie</a></h3>
	<h4><a href="/win/{{win.slug}}">{{win.title}}</a></h4>
	<p><a href="/win/{{win.slug}}">Doe mee en win!</a></p>
</article>