<form class="search-form validate-form" action="/zoek" method="get" novalidate="novalidate">
    <div class="field">
        <button class="btn">zoeken</button>
        <div class="inp-wrap">
            <input name="search" type="search" class="required">
        </div>
    </div>
</form>