<div>
{{#content}}
	<img src="{{media_url}}" width="150" height="150"><br />
	<a href="{{item_link}}/{{slug}}">{{title}}</a><br />
	{{item_header}} - <a href="lid/{{author_slug}}">{{author}}</a> - {{date}} - {{content}} <br />
{{/content}}
</div>