<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@mamaplaats"/>
<meta name="twitter:description" content="{{description}}"/>
{{#image}}<meta name="twitter:image:src" content="{{image}}"/>{{/image}}
<meta property="og:locale" content="nl_NL"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:description" content="{{description}}"/>
{{#image}}<meta property="og:image" content="{{image}}"/>{{/image}}
<meta property="og:site_name" content="Mamaplaats"/>
<meta property="og:type" content="article"/>