<form id="newsletter" class="newsletter-form validate-form" action="#newsletter">
	<div class="sub-heading">Schrijf je in voor de nieuwsbrief!</div>
	<div class="alert alert-success hidden">
	Ga nu naar je email box om jouw inschrijving te activeren.<br/>
	Let op: Geen mail van ons ontvangen? Dan is activeren niet nodig. Jouw email adres was al bij ons bekend.
	</div>
	<div class="field">
		<button class="btn" data-loading-text="Moment..." type="submit">aanmelden</button>
		<div class="inp-wrap">
			<input class="required-email" name="email" type="email" placeholder="Email adres">
		</div>
	</div>
    <div class="field">
        <input data-required="true" name="subscribe_newsletter" type="checkbox">Ja, ik ontvang graag wekelijks nieuwsbrieven van Mamaplaats met actuele onderwerpen op het gebied van moeders en kinderen
    </div>
</form>
