<form id="newsletter" class="newsletter-box alt validate-form" action="#newsletter">
	<h2>Schrijf je nu in voor de Nieuwsbrief!</h2>
	<div class="alert alert-success hidden">Je bent ingeschreven voor onze nieuwsbrief. <br>Ga naar je emailbox voor de verificatie mail.</div>
	<div class="field-row">
		<input class="required-email" type="email" placeholder="Email adres">
	</div>
    <div class="field-row">
        <input data-required="true" name="subscribe_newsletter" type="checkbox">Ja, ik ontvang graag wekelijks nieuwsbrieven van Mamaplaats met actuele onderwerpen op het gebied van moeders en kinderen
    </div>
	<button class="btn alt" data-loading-text="Moment..." type="submit">schrijf je nu in</button>
</form>