<form id="newsletter_large" class="subscribe-form validate-form" action="#newsletter">
	<p class="sub-heading">Schrijf je in voor de nieuwsbrief en mis niets!</p>
	<div class="alert alert-success hidden">Je bent ingeschreven voor onze nieuwsbrief. Ga naar je emailbox voor de verificatie mail.</div>
	<div class="field">
		<button class="btn" data-loading-text="Moment..." type="submit">Inschrijven</button>
		<div class="inp-wrap">
			<input class="required-email" type="email" name="email" placeholder="Email adres">
		</div>
	</div>
    <div class="field">
        <div class="inp-wrap">
            <input data-required="true" name="subscribe_newsletter" type="checkbox">Ja, ik ontvang graag wekelijks nieuwsbrieven van Mamaplaats met actuele onderwerpen op het gebied van moeders en kinderen
        </div>
    </div>
	<div class="followers">Nieuws over winacties / blogs / testpanels / tips / video's / voordeel / etc.</div>
</form>