
<div class="share-this">
	<h3>DEEL DIT ARTIKEL</h3>
	<div class="place">
		<div id="socialite">
			<a href="http://www.facebook.com/sharer.php" class="socialite facebook-like" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
			<a href="http://twitter.com/share" class="socialite twitter-share" data-count="horizontal" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
			<a href="https://plus.google.com/share" class="socialite googleplus-one" data-size="medium" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
		</div>
	</div>
</div>