<div class="social-networks">
	<div class="sub-heading">Volg Mamaplaats</div>
	<ul>
		<!--<li><a target="_blank" href="https://plus.google.com/111896831719068730791?prsrc=3" class="google">Google</a></li>-->
		<li><a target="_blank" href="https://www.facebook.com/Mamaplaats" class="facebook">Facebook</a></li>
		<li><a target="_blank" href="https://twitter.com/Mamaplaats" class="twitter">Twitter</a></li>
		<li><a target="_blank" href="http://www.youtube.com/user/Mamaplaats" class="youtube">YouTube</a></li>
	</ul>
</div>