<div id="couponclub">
	<div class="row-fluid">
		<div class="span12 header big">
			<div class="span8">
				<div class="row-fluid">
					<h1>MAMAPLAATS</h1>
					<h2>Registreer bij Mamaplaats en mis niets van onze winacties, testpanels en blogs!</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid coupon-content">
		<div class="span12">
			<div class="row-fluid well form-container">
				<div class="span5">
					<div class="img-win" style="background:url({{registration_page.image}}) no-repeat;min-height: 475px;"></div>
				</div>
				<div class="span7 register-form">
					{{#has_errors}}
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{#errors}}
							{{error}}<br />
						{{/errors}}
					</div>
					{{/has_errors}}
					<form class="form-inline" action="" method="post">
					{{#user}}
					<fieldset>
						<legend>Persoonlijke Gegevens</legend>
						<div class="row-fluid">
							<div class="span4">
								<label for="user_login">Gebruikersnaam</label>
								<input class="span12" type="text" name="user_login" id="user_login" placeholder="Gebruikersnaam" value="{{user_login}}">
							</div>
							<div class="span4">
								<label for="user_email">Emailadres</label>
								<input class="span12" type="text" name="user_email" id="user_email" placeholder="Emailadres" value="{{user_email}}">
							</div>
							<div class="span4">
								<label for="user_pass">Wachtwoord</label>
								<input class="span12" type="password" name="user_pass" id="user_pass" placeholder="Wachtwoord">
							</div>
						</div>
						<br />
						<div class="row-fluid">
							<div class="span4">
								<label for="first_name">Voornaam</label>
								<input class="span12" type="text" name="first_name" id="first_name" placeholder="Voornaam" value="{{first_name}}">
							</div>
							<div class="span4">
								<label for="middle_name">Tussenvoegsel</label>
								<input class="span12" type="text" name="middle_name" id="middle_name" placeholder="Tussenvoegsel" value="{{middle_name}}">
							</div>
							<div class="span4">
								<label for="last_name">Achternaam</label>
								<input class="span12" type="text" name="last_name" id="last_name" placeholder="Achternaam" value="{{last_name}}">
							</div>
						</div>
						<br />
						<div class="row-fluid">
							<div class="span4">
								<label for="new_birthdate">Geboortedatum</label>
								<input class="span12 datepicker_db" type="text" name="birthdate" id="new_birthdate" placeholder="Geboortedatum" value="{{birthdate}}">
							</div>
							<div class="span6">
								<label for="middle_name">Geslacht</label>
								<div class="span12">
								{{#genders}}
								<label class="checkbox inline">
									<input type="radio" name="gender" value="{{value}}" {{#selected}}checked="checked"{{/selected}}> {{text}}
								</label>
								{{/genders}}
								</div>
							</div>
						</div>
						<br />
					</fieldset>
					<fieldset>
						<legend>Gezinssituatie</legend>
						<div class="row-fluid">
							<div class="span4">
								<label for="is_pregnant">Ben je Zwanger?</label>
								<div class="select-wrap">
									<select id="is_pregnant" class="span12">
										<option value="">Nee</option>
										<option value="pregnant">Ja</option>
									</select>
								</div>
							</div>
							<div class="span4 show_preg_due_date">
								<label for="preg_due_date">Uitgerekend op</label>
								<input class="span12 datepicker_db" type="text" name="pregnancy_due_date" id="preg_due_date" placeholder="Uitgerekend op" value="{{pregnancy_due_date}}">
							</div>
						</div>
						<br />
						<strong>Heb je Kinderen?</strong> <a data-bind="click: addChild" class="btn btn-mini btn-pink-mamaplaats" href="#"><i class="icon-user icon-white"></i> Toevoegen</a>
						<div class="row-fluid">
							<div class="span4"><label>Voornaam</label></div>
							<div class="span4"><label>Geboortedatum</label></div>
							<div class="span4"><label>Geslacht</label></div>
						</div>
						<div data-bind="foreach: children">
							<div class="row-fluid" style="margin-bottom: 10px;">
								<div class="span4">
									<input type="hidden" data-bind="value: id, attr:{name:'children['+$index()+'][id]'}">
									<input class="span12" type="text" data-bind="value: first_name, attr:{name:'children['+$index()+'][first_name]'}" placeholder="Voornaam">
								</div>
								<div class="span4"><input class="span12 datepicker_db" type="text" data-bind="value: birthdate, attr:{name:'children['+$index()+'][birthdate]'}" placeholder="Geboortedatum"></div>
								<div class="span4">
									<div class="select-wrap">
										<select class="span10" data-bind="value: gender, attr:{name:'children['+$index()+'][gender]'}">
											{{#child_genders}}
											<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
											{{/child_genders}}
										</select>
									</div>
									<a data-bind="click: $root.removeChild" href="#"><i class="icon-remove"></i></a>
								</div>
							</div>
						</div>
					</fieldset>
					<br />
					<label class="checkbox">
						<input name="newsletter" value="0" type="hidden">
						<input id="newsletter" name="newsletter" class="newsletter" value="1" {{#newsletter}}checked="checked"{{/newsletter}} type="checkbox">
						<span style="display: inline-block; width: 95%;">Meld je aan voor de nieuwsbrief van Mamaplaats {{#registration_page.title}}en {{registration_page.title}}, {{/registration_page.title}}en mis niets van onze winacties, testpanels, blogs en exclusieve kortingen!</span>
					</label>
					<label class="checkbox">
						<input name="tos" value="0" type="hidden">
						<input name="tos" class="tos" value="1" id="agreement" {{#tos}}checked="checked"{{/tos}} type="checkbox"> Ik ga akkoord met de <a href="{{basepath}}algemene-voorwaarden/">algemene voorwaarden</a>
					</label>
					<br /><br />
					<button class="btn btn-pink-mamaplaats" type="submit">Registreren</button>
					{{/user}}
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">var initial_children = {{& children}};</script>
<script type="text/javascript" src="/kohana/assets/js/knockout/user_children.js"></script>