<div id="advies">
	<header class="heading-box">
		<h1>404: pagina niet gevonden</h1>
	</header>
	<p>
		Dit kan komen omdat wij een pagina hebben verwijderd, of een typefout is gemaakt in het adres.
		Je kan het onderstaande formulier gebruiken om op mamaplaats te zoeken naar het artikel.
	</p>
	<form class="find-advice-form" method="get" action="/zoek">
		<fieldset>
			<h2>Zoek op mamaplaats</h2>
			<div class="field">
				<button class="btn">zoeken</button>
				<div class="inp-wrap">
					<input name="search" type="search" placeholder="Vul zoek term in">
				</div>
			</div>
		</fieldset>
	</form>
</div>