<div id="advies">
	<header class="heading-box">
		<h1>500: er is iets fout gegaan</h1>
	</header>
	<p>
		Er is iets fout gegaan bij het ophalen van deze pagina. Onze ontwikkel omgeving heeft een melding gekregen van
		deze fout en zal het zo snel mogelijk proberen op te lossen.
	</p>
</div>