	{{#rewards}}
	<div class="photocontest-box">
		<h3>{{menu_title}}</h3>
		<img src="{{photo_url}}" alt="{{menu_title}}">
		{{#description}}
		<div class="footer">{{description}}</div>
		{{/description}}
	</div><!--end box-->
	{{/rewards}}