{{#blog_list}}
<article class="item simple">
	<figure class="photo">
		<a class="photo-wrap" href="{{blog.link_title}}"><b><img alt="{{blog.title}}" src="{{media.path}}"></b></a>
	</figure>
    <h4><a href="{{blog.link_title}}">{{blog.title}}</a></h4>
	<p class="info">
		<a href="/lid/{{user.slug}}">{{user.full_name}}</a> -
		<time datetime="{{blog.created}}">{{blog.created_formatted}}</time>
	</p>
	<p>{{blog.excerpt}}</p>
</article>
{{/blog_list}}