<section class="blog-masonry">
    <header class="heading-box">
        <h1>{{title}}</h1>
    </header>
	{{#has_messages}}
        <div class="alert alert-{{type}}">
			{{#messages}}{{message}}<br />{{/messages}}
        </div>
	{{/has_messages}}
    <div id="blog_list" class="grid-box">
		{{#blog_list}}
            <article class="item">
                <figure class="photo">
                    <a class="photo-wrap" href="{{blog.link_title}}">
                        <b><img alt="{{media.title}}" src="{{media.path}}" width="230" height="140"></b>
                    </a>
                </figure>
                <h4><a href="{{blog.link_title}}">{{blog.title}}</a></h4>
                <p class="info">
                    <a href="/lid/{{user.slug}}">{{user.full_name}}</a> -
                    <time datetime="{{blog.created}}">{{blog.created_formatted}}</time>
                </p>
                <p>{{blog.excerpt}}</p>
                <a href="/user/blog/index/{{blog.id}}">Blog Bewerken</a>
            </article>
		{{/blog_list}}
    </div>
    <a href="#" onclick="return load_more.user_blogs('{{list_type}}', 15)" class="lazy-load-more">Klik hier om meer berichten te laden</a>
</section>