<div class="popular-stores">
	<div class="heading-box">
		<h3>Populaire winkels</h3>
	</div>
	<ul>
		{{#popular_coupon_shops}}
		<li><a href="/korting/winkel/{{slug}}">{{name}}</a></li>
		{{/popular_coupon_shops}}
	</ul>
</div>