<div class="popular-stores">
	<div class="heading-box">
		<h3>Mamas kochten ook bij</h3>
	</div>
	<ul>
		{{#related_coupon_shops}}
		<li><a href="/korting/winkel/{{slug}}">{{name}}</a></li>
		{{/related_coupon_shops}}
	</ul>
</div>