<div id="account">
	<section class="login-block">
		<header class="heading-box">
			<h1>Herstel je Wachtwoord</h1>
		</header>
		<form class="validate-form" action="" method="POST">
			<h3>Wachtwoord Vergeten</h3>
			{{> messages}}
			<p>Ben je jouw wachtwoord vergeten? Vul dan hier je emailadres in om je wachtwoord te wijzigen.</p>
			<div class="form-item">
				<label for="username">Email adres:</label>
				<input class="required" id="username" name="username" type="text" placeholder="Email adres">
			</div>
			<div class="set">
				<button class="btn">Stuur mij een herstel Email</button>
			</div>
		</form>
	</section>
</div>