<div id="account">
	<section class="login-block">
		<header class="heading-box">
			<h1>Herstel je Wachtwoord</h1>
		</header>
		<form class="validate-form" action="" method="POST">
			<h3>Wachtwoord Aanpassen</h3>
			{{> messages}}
			<p>
				Voer tweemaal je nieuwe wachtwoord in. Zodra je wachtwoord is veranderd kun je inloggen met het nieuwe wachtwoord.
			</p>
			<div class="form-item">
				<label for="password">Wachtwoord:</label>
				<input class="required" type="password" name="password" id="password" placeholder="Wachtwoord">
			</div>
			<div class="form-item">
				<label for="password_repeat">Wachtwoord Herhalen:</label>
				<input class="required" type="password" name="password_repeat" id="password_repeat" placeholder="Wachtwoord Herhalen">
			</div>
			<div class="set">
				<button class="btn">Wachtwoord Aanpassen</button>
			</div>
		</form>
	</section>
</div>