<div class="row">
	{{> pregnancy_calander}}
</div>
<div id="review">
	<section class="blog-masonry">
        <div class="clearfix"></div>
		<header class="heading-box">
                {{> widget_social}}
            <h1>Lopende reviews</h1>
		</header>
		<div class="grid-box alt">
			{{#running_products}}
			<article class="item">
				<figure class="photo">
					<a class="photo-wrap" href="/review/product/{{slug}}">
						<b><img alt="{{title}}" src="{{image_url}}" width="260" height="216"></b>
					</a>
				</figure>
				<h4><a href="/review/product/{{slug}}">{{title}}</a></h4>
				<p>{{description}}</p>
				{{#status_link}}<a class="btn small {{^url}}grey disabled{{/url}}" href="{{url}}">{{tag}}</a>{{/status_link}}

			</article>
			{{/running_products}}
		</div>
		{{^running_products}}
		<div class="alert alert-info">
			Op dit moment zijn er geen lopende reviews.
		</div>
		{{/running_products}}
	</section>
	<section class="blog-masonry">
		<header class="heading-box">
			<h1>Zie enkele van onze afgeronde reviews</h1>
		</header>
		<div class="grid-box">
			{{#finished_products}}
			<article class="item">
				<figure class="photo">
					<a class="photo-wrap" href="/review/product/{{slug}}">
						{{#average_rating}}<span class="stempel"><span>{{average_rating}}</span></span>{{/average_rating}}
						<b><img alt="{{title}}" src="{{image_url}}" width="260" height="242"></b>
					</a>
				</figure>
				<h4><a href="/review/product/{{slug}}">{{title}}</a></h4>
				<p>{{description}}</p>
			</article>
			{{/finished_products}}
		</div>
	</section>
	<div class="info-block">
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-8">
				{{> widget_newsletter_large}}
			</div>
		</div>
	</div>
</div>