{{#content}}
	<div class="review-blogs">
		<div class="heading-box">
			<h3>Review</h3>
		</div>
		<div class="photo">
			<a href="/review/{{review.slug}}">
				<span class="photo-wrap"><img alt="image description" src="{{product.image_url}}" width="309" height="320"></span>
				<div class="scope">
					<div class="sub-heading">score</div>
					<div class="rating">{{review.rating_overal}}</div>
				</div>
			</a>
		</div>
	</div>
{{/content}}