<div class="photo-contest">
	<div class="heading-box">
		<h3>Fotowedstrijd</h3>
	</div>
	<div class="photo">
		<a href="#">
			<span class="photo-wrap"><img alt="image description" src="/assets/images/s-img04.jpg" width="310" height="300"></span>
			<div class="caption">
				<h2>Stem &amp; win</h2>
				<p>Prachtige prijzen van Lego <span class="arrow"></span></p>
			</div>
		</a>
	</div>
</div>