<div class="row">
	{{> pregnancy_calander}}
</div>
<div id="two-cols">
	<div class="row">
        <div class="clearfix"></div>
		<div class="col-sm-8">
			<section class="blog-masonry">
				<header class="heading-box">
					<h1>{{title}}</h1>
				</header>
				<div id="blog_list" class="grid-box">
					{{#blog_list}}
					<article class="item simple">
						<figure class="photo">
							<a class="photo-wrap" href="/blog/{{blog.slug}}"><b><img alt="{{blog.title}}" src="{{media.path}}"></b></a>
						</figure>
						<h4><a href="/blog/{{blog.slug}}">{{blog.title}}</a></h4>
						<p class="info">
							<a href="/lid/{{user.slug}}">{{user.full_name}}</a> -
							<time datetime="{{blog.created}}">{{blog.created_formatted}}</time> -
							<a class="comments" href="/blog/{{blog.slug}}#{{blog.link_comments}}">{{blog.comment_count}}</a>
						</p>
						<p>{{blog.excerpt}}</p>
					</article>
					{{/blog_list}}
				</div>
				<a href="#" onclick="return load_more.blogs('{{category_slug}}', 15)" class="load-more">Laad meer berichten</a>
			</section>
			{{> widget_newsletter_large}}
		</div>
		<div class="col-sm-4">
            {{#is_desktop}}
			<div class="side-holder">
				{{> widget_social}}
                {{> new_blog }}
                {{> widget_top_sidebar_banner}}
                {{& widgets}}
				{{> widget_facebook}}
			</div>
            {{/is_desktop}}
		</div>
	</div>
</div>


